<!-- Loop over each object in the projects array -->
{{#each users as |user| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{user.name}}
    </h2>
    <p>
      {{user.age}}
    </p>
    <p>
      {{user.gender}}
    </p>
    <p>
      {{user.interested_in}}
    </p>
    <p>
      {{user.location}}
    </p>
    <p>
      {{user.age}}
    </p>
  </div>
</div>
{{/each}}